label[for="city-form"] {
    display: none;
}

.weather-div {
    display: grid;
    gap: 10px;
    width: min(90%, 500px);
    margin: 20px auto 0;
    padding: 20px;
    border-radius: 12px;
}

.weather-date {
    font-size: medium;
    color: darkblue;
}

.weather-temperature {
    font-size: large;
    color: #151b54;
}

