#play-field {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /*1fr = 1 fraction */
    grid-template-rows: repeat(3, 1fr);
    justify-self: center;
    align-self: center;
    
    width: 300px;
    height: 300px;

    background-color: rgb(44, 43, 41);
    gap: 2px;
    padding: 2px;
}

.play-field-btn {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: white;
    cursor: pointer;
}

.play-field-btn:hover {
    background-color: #f0f0f0;
}

.player-x-mark {
    color: red;
}

.player-o-mark {
    color: blue;
}